<h1>{{title}}</h1>
<p>
  Give an array of integers find the unique values, sort ascending order and write those values to the dom.
</p>
<table style="width: 50%;">
  <tr>
    <td>
      <p>INPUT:</p>
    </td>
    <td>
      <p>OUTPUT:</p>
    </td>
  </tr>
</table>
<table style="width: 50%;">
  <tr>
    <td>
      <div *ngFor="let item of inputArr">
        <p>{{item}}</p>
      </div>
    </td>
    <td>
      <div *ngFor="let item of outputArr">
        <p>{{item}}</p>
      </div>
    </td>
  </tr>
</table>

